@import "../variables";

.telemedImage {
  padding-top: 0;
  position: relative;
  text-align: center;
  background-image: url(../../../public/images/telmed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  img {
    @include widthNheight(100%, 100%);
  }
}
.teleMedLayer {
  @include layerColor(right, #c6a38d);
}
.parent {
  position: relative;
  padding: 10%;
}
.faded {
  position: relative;
  display: inline-block;
  color: white;

  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    @include widthNheight(100%, 100%);
    border-collapse: separate;
  }
}
.teleMedList {
  li {
    list-style-type: none;
    text-align: left;
    line-height: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .telemed {
    flex-direction: column;
  }
}

//Photo by <a href="https://unsplash.com/@olianayda?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Olia Nayda</a> on <a href="https://unsplash.com/s/photos/health?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
