.bootAppointImage {
  background-image: url(../../../public/images/telemed.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}

//Photo by <a href="https://unsplash.com/@olianayda?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Olia Nayda</a> on <a href="https://unsplash.com/s/photos/health?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
