.bookAppoint {
  // background-image: url(../../../public/images/appointment.jpg);
  background-color: #8ccbbe;
  padding-top: 0;
  padding-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  h5 {
    margin-top: 1rem;
    font-weight: 800;
    font-size: x-large;
  }
  label {
    margin-top: 2rem;
  }
  small {
    color: rgb(83, 81, 81);
  }
}
.appointmentformContainer {
  width: 50%;
}
.fileUploadSection {
  background-color: rgb(199, 209, 209);
  padding: 20px;
}
