.howtogetAppointment {
  padding-top: 0;
  position: relative;
  text-align: center;
  background-color: #f5f7f4;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  img {
    width: 70%;
    height: 80%;
  }
}
.attribute {
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 0.5rem;
}
.howToGetAppList {
  li {
    text-align: left;
    line-height: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .howtogetapp {
    flex-direction: column;
  }
}

//Photo by <a href="https://unsplash.com/@olianayda?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Olia Nayda</a> on <a href="https://unsplash.com/s/photos/health?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

//Photo by <a href="https://unsplash.com/@olianayda?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Olia Nayda</a> on <a href="https://unsplash.com/s/photos/health?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
