.ourservices {
  padding-top: 0;
  position: relative;
  text-align: center;
  background-image: url(../../../public/images/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  img {
    width: 70%;
    height: 80%;
  }
}
.serviceList {
  position: relative;
  img {
    position: absolute;
    width: 40%;
    height: 50%;
    bottom: 0;
    right: 0;
    z-index: 3;
  }
  li::marker {
    content: "  >>      ";
    color: red;
  }
  li {
    list-style-type: none;
    text-align: left;
    line-height: 2.5rem;
    margin-left: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .serviceList {
    padding-top: 10%;
    li::marker {
      content: ">>      ";
      color: red;
    }
    li {
      margin-left: 4rem;
    }
  }
  .ourservices {
    padding-bottom: 200px;
  }
  .ourserviceImage {
    flex-direction: column;
  }
}
