.ourservices {
  padding-top: 0;
  position: relative;
  text-align: center;
  background-image: url(../../../public/images/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  img {
    width: 70%;
    height: 80%;
  }
}
.attribute {
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 0.5rem;
}
.serviceList {
  li {
    list-style-type: none;
    text-align: left;
    line-height: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .ourservices {
    padding-bottom: 200px;
  }
  .ourserviceImage {
    flex-direction: column;
  }
}
