.aboutUs {
  padding-top: 0;
  position: relative;
  text-align: center;
  line-height: 3rem;
  font-size: x-large;
  // background-image: url(../../../public/images/payments.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  img {
    width: 70%;
    height: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .aboutUsImage {
    flex-direction: column;
  }
}

//Photo by <a href="https://unsplash.com/@olianayda?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Olia Nayda</a> on <a href="https://unsplash.com/s/photos/health?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
