.patientEdu {
  padding-top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  background-image: url(../../../public/images/light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  img {
    width: 70%;
    height: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .patientEduImage {
    flex-direction: column;
  }
}
