.emotionalImage {
  padding-top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  background-image: url(../../../public/images/emotional-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  img {
    width: 70%;
    height: 80%;
  }
}
.attribute {
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .emotional {
    flex-direction: column;
  }
}
