@import "../variables";

.emotional {
  padding-top: 0;
  position: relative;
  text-align: center;
  background-image: url(../../../public/images/emotional-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  img {
    @include widthNheight(100%, 100%);
  }
}
.emotionalLayer {
  @include layerColor(right, #b7d3e3);
}
@media only screen and (max-width: 600px) {
  .emotionalImage {
    flex-direction: column;
  }
}
