.navbar {
  padding-left: 4rem;
  padding-right: 4rem;
  background: rgba(140, 203, 190, 0.3) !important;
  min-height: 20vh;
  a {
    &:hover {
      text-decoration: underline;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  }
  .textColor {
    color: black;
  }
  button {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 900px) {
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: auto;
  }
}
