$bkgroundcolor: rgb(182, 55, 102);
@mixin flexCenter($direction, $space) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: $space;
}
@mixin widthNheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin layerColor($side, $color) {
  opacity: 0.7;
  z-index: 2;
  top: 13.5%;
  position: absolute;
  width: 80%;
  height: 74%;
  background-image: linear-gradient(
    to $side,
    rgba(167, 207, 223, 0) 0%,
    $color 100%
  );
}
