.carousel {
  min-width: 100%;
  max-height: 100vh;
  margin: auto;
}
.caption {
  color: black;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}
