.loginImage {
  padding-top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  justify-content: space-evenly;
  background-image: url(../../../public/images/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  h5 {
    font-weight: 800;
    font-size: x-large;
  }
}
.loginForm {
  width: 25%;
}
.attribute {
  font-size: 8px;
}
