.loginImage {
  padding-top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  background-image: url(../../../public/images/appointment.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  h5 {
    margin-top: 1rem;
    font-weight: 800;
    font-size: x-large;
  }
}
.loginForm {
  margin-top: 2rem;
  width: 25%;
}
.attribute {
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 0.5rem;
}
@media only screen and (max-width: 800px) {
  .loginForm {
    margin-top: 2rem;
    width: 85%;
  }
}
