@import "./components/_variables";
@import "./components/Navbar/navbar.scss";

body {
  margin: 0;
  font-family: "Fredoka", sans-serif !important;
  background-color: rgb(208, 233, 231) !important;
  h1 {
    margin: 0;
    font-size: 30px;
    color: black;
  }
}
.attribute {
  right: 0;
  bottom: 0;
  position: absolute;
  font-size: 0.5rem;
}
