@import "./components/variables";
@import "./components/Navbar/navbar.scss";
// @import "./section1";
// @import "./section2";
// @import "./section3";
// @import "./carousel";

body {
  margin: 0;
  font-family: "Fredoka", sans-serif !important;
  background-color: rgb(208, 233, 231) !important;
  section {
    overflow: hidden;
  }
  h1 {
    margin: 0;
    font-size: 30px;
    color: black;
  }
}
.section {
  height: 500px;
  text-align: center;
  @include flexCenter(row);
  img {
    width: 200px;
    height: 200px;
  }
}

//div animation fade in......................
.fade-in-left {
  transform: translateX(-10%);
}
.fade-in-right {
  transform: translateX(10%);
}

.fade-in-right.appear,
.fade-in-left.appear,
.fadeIn {
  transition: opacity 250ms ease-in, -webkit-transform 1.5s ease-in;
  transition: opacity 250ms ease-in, transform 1.5s ease-in;
  transition: opacity 250ms ease-in, transform 1.5s ease-in,
    -webkit-transform 1.5s ease-in;
  opacity: 0;
}

.fade-in-right.appear,
.fade-in-left.appear,
.fadeIn.appear {
  -webkit-transform: translateX(-150px);
  transform: translateX(0);
  opacity: 1;
}
